
* {
  font-family: 'roboto';
  margin: 0;
  
}

.PersonalInfoForm{
  background-color: #f9f9f9;
}
.btn{
  margin-top: 50%;
  background-color: blue;
}
.h5{
  text-align: center;
  font-weight: bold;
}